@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.00 0 0);
  --foreground: oklch(0.50 0.03 255.21);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.28 0.05 252.95);
  --primary-foreground: oklch(0.96 0 0);
  --secondary: oklch(0.93 0.23 124.41);
  --secondary-foreground: oklch(0.45 0.03 257.68);
  --muted: oklch(0.98 0 0);
  --muted-foreground: oklch(0.55 0.02 264.41);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.80 0 0);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.93 0.01 261.82);
  --input: oklch(0.93 0.01 261.82);
  --ring: oklch(0.25 0.04 256.00);
  --chart-1: oklch(0.86 0.21 123.23);
  --chart-2: oklch(0.17 0 0);
  --chart-3: oklch(0.58 0.19 34.41);
  --chart-4: oklch(0.77 0.22 145.79);
  --chart-5: oklch(0.52 0.21 299.75);
  --sidebar: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.14 0 0);
  --sidebar-primary: oklch(0.20 0 0);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.20 0 0);
  --sidebar-border: oklch(0.92 0 0);
  --sidebar-ring: oklch(0.71 0 0);

  --font-sans: Outfit, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;

  --radius: 0.65rem;

  --shadow-2xs: 0 1px 4px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 4px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 4px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 4px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 4px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 4px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 4px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 4px 0px oklch(0.00 0 0 / 0.25);
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.1;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --spacing: 0.27rem;
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.20 0 0);
  --foreground: oklch(0.92 0 0);
  --card: oklch(0.27 0 0);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.27 0 0);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(0.62 0.19 259.76);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.27 0 0);
  --secondary-foreground: oklch(0.92 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.38 0.14 265.59);
  --accent-foreground: oklch(0.88 0.06 254.63);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.37 0 0);
  --input: oklch(0.37 0 0);
  --ring: oklch(0.62 0.19 259.76);
  --chart-1: oklch(0.71 0.14 254.69);
  --chart-2: oklch(0.62 0.19 259.76);
  --chart-3: oklch(0.55 0.22 262.96);
  --chart-4: oklch(0.49 0.22 264.43);
  --chart-5: oklch(0.42 0.18 265.55);
  --sidebar: oklch(0.21 0.01 285.56);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.49 0.24 264.41);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.27 0.01 285.81);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1.00 0 0 / 10%);
  --sidebar-ring: oklch(0.55 0.02 285.76);

  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
  --radius: 0.65rem;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.27rem;
  --font-sans: Outfit, sans-serif;
  --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: JetBrains Mono, monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: Outfit, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --font-serif: Source Serif 4, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --animate-marquee-horizontal: marquee-horizontal var(--marquee-duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--marquee-duration) infinite linear;
  @keyframes marquee-horizontal {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--marquee-gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--marquee-gap)));
    }
  }

  --radius: 0.65rem;

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);

  --tracking-tight: calc(var(--tracking-normal) - 0.025em);

  --tracking-wide: calc(var(--tracking-normal) + 0.025em);

  --tracking-wider: calc(var(--tracking-normal) + 0.05em);

  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --letter-spacing: var(--letter-spacing);

  --tracking-normal: var(--tracking-normal);

  --spacing: var(--spacing);

  --shadow-offset-y: var(--shadow-offset-y);

  --shadow-offset-x: var(--shadow-offset-x);

  --shadow-spread: var(--shadow-spread);

  --shadow-blur: var(--shadow-blur);

  --shadow-opacity: var(--shadow-opacity);

  --color-shadow-color: var(--shadow-color);

  --radius-2xl: calc(var(--radius) + 8px);

  --radius-3xl: calc(var(--radius) + 12px);

  --radius-4xl: calc(var(--radius) + 16px)
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}